html,body { width: 100%; height: 100%; }
body { font-size: 100%; }
html,body,div,span,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,p,em,br,hr { padding: 0; margin: 0; line-height: 1; }

a:active { outline: none; }
:-moz-any-link:focus {
  outline: none;
  }
.clear { clear: both; }

#page-wrapper { position: relative; width: 810px; height: 700px; overflow: hidden; margin: 0 auto; background: #fff; }
#page-wrapper>div { width: 810px; height: 700px; float: left; }
.icons a { position: absolute; display: block; text-indent: -9999pt; }
.icon1 { width: 160px; height: 60px; left: 70px; top: 160px; }
.icon2 { width: 200px; height: 150px; left: 290px; top: 90px; }
.icon3 { width: 210px; height: 45px; left: 530px; top: 170px; }


#uno { position: absolute; background: url('../img/bg1.jpg?id=12312312') no-repeat #000; }
#uno span { position: absolute; }
#uno .copy { background: url('../img/page1copy.png') no-repeat; width: 326px; height: 267px; top: 50px; left: 75px; }
#uno .icons { display: block; background: url(../img/icons.png?id=23908) no-repeat; top: 443px; width: 810px; height: 257px; }

#uno .enterbtn { background: url(../img/enterbtn.png) no-repeat; top: 150px; left: 500px; width: 194px; height: 196px; }
#uno .enterbtn a { display: block; width: 194px; height: 196px; text-indent: -9999pt; }


#dos { position: absolute; background: url('../img/bg2.jpg?id=1209823') no-repeat #000; top: 0; left: 810px; }
#dos .copy { position: absolute; background: url('../img/page1copy.png') no-repeat; width: 326px; height: 267px; top: 50px; left: 50px; }
#dos .error-wrapper { position: absolute; list-style: none; left: 430px; top: 40px; width: 270px; height: 100px; color: #ed193d; display: block; font-family: Arial, "Trebuchet MS", Tahoma, Verdana, Sans-Serif; overflow: hidden; }
#dos ul.error-wrapper li { margin: 5px 0 0 0; border-left: 1px solid #ed193d; padding: 3px 3px 3px 7px; }
#dos .error-wrapper span { clear: both; }
#dos .icons { display: block; position: absolute; background: url(../img/icons.png) no-repeat; top: 443px; left: 0px; width: 810px; height: 257px; }

#dos .form { position: absolute; top: 140px; left: 415px; width: 500px; height: 150px; }
#dos .form label { font-family: Arial, "Trebuchet MS", Tahoma, Verdana, Sans-Serif; font-size: 0.9em; }
#dos .form fieldset { display: block; width: 35%; padding: 10px; border: 0; color: #fff; float: left; margin: 0; }
#dos .form fieldset.right { margin: 30px 0 0 0px; }
#dos .form .left label { display: block; padding: 5px 0 3px 5px; margin: 10px 0 0 0; }
#dos .form .left input { display: block; height: 18px; padding: 3px 3px; background: url(../img/inputbg.png) repeat-x; border: 0; border-radius: 5px; width: 150px; }
#dos .form .right label { display: block; padding: 3px 0 3px 3px;; width: 150px; }
#dos .form .right label a { color: #fff; }
#dos .form .right input { float: left; }
#dos .form #submit { display: block; background: url(../img/formenterbtn.png) no-repeat; width: 131px; height: 44px; border: 0; text-indent: -9999pt; }


#tres { position: absolute; background: url('../img/bg3.jpg?id=1098238') no-repeat #000; top: 0; left: 810px; }

#tres .copy { position: absolute; display: block; background: url('../img/page3copy.png') no-repeat; top: 30px; left: 95px; width: 601px; height: 601px; }

#tres .slideshow { position: absolute; top: 180px; left: 0; width: 810px; height: 430px; overflow: hidden; }
#tres .slideshow ul#thumbnails { list-style: none; margin: 0 auto; width: 460px; }
#tres #thumbnails li { background: #fff; width: 60px; height: 60px; display: block; margin: 0 0 0 20px; float: left; }
#tres #thumbnails li a { display: block; text-indent: -9999pt; width: 100%; height: 100%; }

#tres #thumbnails li.lauren_desantis a { background: url(../img/bloggers/laurendesantisthumb.jpg) no-repeat; }
#tres #thumbnails li.darlene_horn a { background: url(../img/bloggers/darlenehornthumb.jpg) no-repeat; }
#tres #thumbnails li.mardi_michels a { background: url(../img/bloggers/mardimichelsthumb.jpg) no-repeat; }
#tres #thumbnails li.mijune_pak a { background: url(../img/bloggers/mijunepakthumb.jpg) no-repeat; }
#tres #thumbnails li.meghan_mallory a { background: url(../img/bloggers/meghanmallorythumb.jpg) no-repeat; }
#tres #thumbnails li.active a { background-position: 0 -60px; }

#tres #slides { position: absolute; top: 110px; color: #fff; list-style-type: none; height: 420px; }
#tres #slides li { display: block; float: left; width: 810px; }
#tres #slides li a { color: red; }
#tres #slides img { display: block; position: relative; left: 100px; top: 0px; float: left; }
#tres #slides li span { width: 300px; font-family: Arial, "Trebuchet MS", Tahoma, Verdana, Sans-serif; float: left; margin-left: 115px; }
#tres #slides li span h1 { font-weight: normal; font-size: 1.2em; padding: 0 0 10px 0; }
#tres #slides li span h2 { font-weight: normal; font-size: 1em; padding: 10px 0 10px 0; }
#tres #slides li span p { color: #b7b5b5; font-size: 0.71em; padding: 0 0 10px 0; line-height: 1.15em; }
#tres .left_arrow { position: absolute; top: 410px; left: 30px; }
#tres .right_arrow { position: absolute; top: 410px; left: 710px; }
#tres .left_arrow a { display: block; width: 42px; height: 42px; background: url(../img/leftarrow.png) no-repeat; text-indent: -9999pt; }
#tres .right_arrow a { display: block; width: 42px; height: 42px; background: url(../img/rightarrow.png) no-repeat; text-indent: -9999pt; }

#tres .blogger_selector { display: block; position: absolute; bottom: 20px; width: 174px; height: 40px; left: 293px; }
#tres #blog_select { display: block; background: url(../img/selectbtn.png) no-repeat; width: 174px; height: 40px; text-indent: -9999pt; border: 0; }


#quattro { position: absolute; background: url('../img/bg4.jpg?id=128391723') no-repeat #000; top: 0; left: 810px; overflow: hidden; }
#quattro .copy { position: absolute; top: 50px; left: 125px; background: url(../img/page4copy.png) no-repeat; width: 553px; height: 115px; }

#quattro .facebook { position: absolute; display: block; background: url('../img/facebookbtn.png') no-repeat; width: 114px; height: 39px; top: 190px; left: 250px; text-indent: -9999pt; }
#quattro .twitter { position: absolute; display: block; background: url('../img/twitterbtn.png') no-repeat; width: 114px; height: 39px; top: 190px; left: 425px; text-indent: -9999pt; }
#quattro .facebook a, #quattro .twitter a { display: block; width: 100%; height: 100%; }

#quattro .ticket { position: absolute; display: block; background: url('../img/tag.png') no-repeat; top: 270px; left: 180px; width: 452px; height: 186px; }
#quattro .ticket .discover { position: absolute; background: url(../img/page4learnmore.png) no-repeat; top: 30px; left: 40px; width: 174px; height: 126px; }
#quattro .ticket .discover a { position: absolute; top: 92px; left: 25px; width: 122px; height: 31px; display: block; text-indent: -9999pt; border: 0; }

#quattro .ticket .explore { position: absolute; background: url(../img/page4go.png) no-repeat; width: 114px; height: 126px; top: 30px; left: 280px; }
#quattro .ticket .explore a { position: absolute; top: 92px; left: 5px; width: 100px; height: 31px; display: block; text-indent: -9999pt; border: 0; }

#quattro .icons { position: absolute; display: block; background: url(../img/icons.png) no-repeat; top: 443px; left: 0px; width: 810px; height: 257px; }

#message { font-family: Arial, Helvetica,sans-serif; font-size:0.71em; padding-top:10px; } 

#rules { display: none; top: 650px; left: 20px; font-size: 0.8em; }
