html,body { width: 100%; height: 100%; }
body { font-size: 80%; }
html,body,div,span,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,p,em,br,hr { padding: 0; margin: 0; line-height: 1; }

a:active { outline: none; }
:-moz-any-link:focus {
	  outline: none;
}
.clear { clear: both; }

#page-wrapper { position: relative; width: 810px; height: 1530px; overflow: hidden; margin: 0 auto; background: #fff; font-family: arial, tahoma, verdana, sans-serif; }
#page-wrapper .page { width: 810px; height: 1530px; }

#like-gate { background: url(../img/bg-likegate.jpg) no-repeat; width: 810px; height: 1530px; }

.page { position: absolute; float: left; width: 810px; height: 1530px; left: 810px; }
#one { background: url(../img/bg-page1.jpg) no-repeat; } 
#music { background: url(../img/bg-music.jpg) no-repeat; }
#video { background: url(../img/bg-video.jpg) no-repeat; }
#photo { background: url(../img/bg-photo.jpg) no-repeat; }

.file-type-choice { position: absolute; display: block; width: 536px; height: 170px; text-indent: -9999pt; }
.file-type-choice .photo-link { display: block; width: 173px; height: 170px; background: url(../img/submit-buttons.png) no-repeat; text-indent: -9999pt; float: left; }
.file-type-choice .video-link { display: block; width: 190px; height: 170px; background: url(../img/submit-buttons.png) no-repeat -173px 0; float: left; }
.file-type-choice .music-link { display: block; width: 173px; height: 170px; background: url(../img/submit-buttons.png) no-repeat -363px 0; float: left; }
.file-type-choice .photo-link:hover { display: block; width: 173px; height: 170px; background: url(../img/submit-buttons.png) no-repeat 0 -170px; text-indent: -9999pt; float: left; }
.file-type-choice .video-link:hover { display: block; width: 190px; height: 170px; background: url(../img/submit-buttons.png) no-repeat -173px -170px; float: left; }
.file-type-choice .music-link:hover { display: block; width: 173px; height: 170px; background: url(../img/submit-buttons.png) no-repeat -363px -170px; float: left; }

#one .file-type-choice { height: 240px; overflow: hidden; bottom: 250px; left: 17%; }
#one .submit-header { display: block; width: 391px; height: 72px; background: url(../img/submit-header.png) no-repeat 0 -72px; clear: both; margin: 0 auto 5px auto; }
.video-submitted { position: absolute; display: block; border: 0px solid #000; width: 270px; height: 30px; top: 875px; right: 128px; }
.pic-submitted { position: absolute; display: block; border: 0px solid #000; width: 290px; height: 30px; top: 910px; right: 108px; text-indent: -9999pt; }

#photo .submit-header { display: block; width: 391px; height: 72px; background: url(../img/submit-header.png) no-repeat 0 0px; clear: both; margin: 0 auto 5px auto; }
#video .submit-header { display: block; width: 391px; height: 72px; background: url(../img/submit-header.png) no-repeat 0 -72px; clear: both; margin: 0 auto 5px auto; }
#music .submit-header { display: block; width: 391px; height: 72px; background: url(../img/submit-header.png) no-repeat 0 -144px; clear: both; margin: 0 auto 5px auto; }
#photo .file-type-choice .photo-link { background: url(../img/submit-buttons.png) no-repeat 0 -170px; }
#video .file-type-choice .video-link { background: url(../img/submit-buttons.png) no-repeat -173px -170px; }
#music .file-type-choice .music-link { background: url(../img/submit-buttons.png) no-repeat -363px -170px; }

#photo .file-type-choice,
#video .file-type-choice,
#music .file-type-choice { top: 30px; left: 20%; }

.page .form { float: left; width: 300px; position: absolute; top: 300px; left: 175px; }
.page .form ul { list-style: none; }
.page .form ul li { margin: 5px 0 0 0; }
.page .form label { display: block; width: 75px; float: left; padding: 4px 0 0 0; }
.page .form .news-li label { width: 220px; }
.page .form input { border: 1px solid #000; border-radius: 3px; background: #e6e4ba; padding: 3px; }
.page .form ul li span { position: absolute; display: block; right: left: 0px; width: 300px; background: red; color: #fff; z-index: 1; padding: 3px; border-radius: 5px; }
.page .form ul li span label { width: 100%; }

label { line-height: 15px; }
p { line-height: 15px; }

.page .form-confirm { position: absolute; width: 300px; top: 300px; left: 440px; }
.page .form-confirm p { margin: 0px 0px 10px 0; }
.page .form-confirm .clip { clear: both; display: block; margin: 10px 0 0 0; }
.page .form-confirm .submit { margin: 20px 0 0 0; }
.page .form-confirm ul { list-style: none; }
.page .form-confirm ul li span { position: absolute; right: 0px; width: 300px; background: red; color: #fff; z-index: 1; padding: 3px; border-radius: 5px; }
.page .form-confirm ul li span label { width: 100%; }
.page .form-confirm input { border: 1px solid #000; border-radius: 3px; background: #e6e4ba; padding: 3px; }
.clip_label { margin: 10px 0 0 0; display: block; clear: both;  }

.page .form-confirm .submit { display: block; border: 0; width: 121px; height: 66px; background: url(../img/submit-btn.png) no-repeat; text-indent: -9999pt; }

#thanks { background: url(../img/bg-thanks.jpg) no-repeat; }
#thanks #fb-share { position: absolute; top: 343px; left: 114px; display: block; border: 0; width: 114px; height: 39px; background: url(../img/fb-share.png) no-repeat; text-indent: -9999pt; }
#thanks #twitter-share { position: absolute; top: 343px; left: 240px; display: block; border: 0; width: 114px; height: 39px; background: url(../img/twitter-share.png) no-repeat; text-indent: -9999pt; }
#thanks #submit-more { display: block; position: absolute; width: 120px; height: 120px; border: 0px solid #000; top: 272px; left: 405px; text-indent: -9999pt; } 

#ontario-link { position: absolute; display: block; border: 0px solid #000; width: 160px; height: 75px; text-indent: -9999pt; }
#ottawa-link { position: absolute; display: block; border: 0px solid #000; width: 170px; height: 75px; text-indent: -9999pt; }

#one #ontario-link { bottom: 80px; left: 180px; }
#one #ottawa-link { bottom: 80px; right: 170px; }
#music #ontario-link { bottom: 570px; left: 165px; }
#music #ottawa-link { bottom: 570px; right: 185px; }
#photo #ontario-link { bottom: 570px; left: 165px; }
#photo #ottawa-link { bottom: 570px; right: 185px; }
#video #ontario-link { bottom: 570px; left: 165px; }
#video #ottawa-link { bottom: 570px; right: 185px; }
#thanks #ontario-link { bottom: 680px; left: 165px; }
#thanks #ottawa-link { bottom: 680px; right: 185px; }

#one { left: 0; }

#one .terms { bottom: 20px; right: 190px; }
#photo .terms { bottom: 513px; right: 210px; }
#video .terms { bottom: 513px; right: 210px; }
#music .terms { bottom: 513px; right: 210px; }
#thanks .terms { bottom: 623px; right: 210px; }
.terms { width: 120px; height: 20px; position: absolute; border: 0px solid #000; text-indent: -9999pt; }
#rules { display: none; }

.fancy, .fancy-video { text-indent: -9999pt; }
.hidden { display: none; }

#loading { display: none; width: 170px; height: 227px; position: absolute; top: 470px; right: 310px; background: url(../img/loading.gif) no-repeat; }

#demovideo { display: none; }
